<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="primary" (click)="openCalender()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="titledecoration">Categories</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center" id="categories-view">
    <table style="width:100%">
      <tr style="width:100%; text-align:center" *ngFor="let category of categories">
        <td style="width:100%" (click)="openCategory(category)">
          <p>{{category}}</p>
          <hr />
        </td>
      </tr>
     </table>
  </div>
  <div style="text-align:center" id="documents-view">
    <table style="width:100%">
      <tr style="width:100%; text-align:center" *ngFor="let event of events">
        <td style="width:100%" (click)="openEventPage(event.id)">
          <img style="width:100%" src={{event.image}} />
          <p>{{event.name}}</p>
          <hr />
        </td>
      </tr>
     </table>
  </div>
</ion-content>
